@charset "utf-8";

$ef-color-green: #22C25C;
$ef-color-blue: #0E9ED8;
$ef-color-black: #111111;

.ef-bg-color-green{background-color: $ef-color-green;}
.ef-bg-color-blue{background-color: $ef-color-blue;}
.ef-bg-color-black{background-color: $ef-color-black;}
.ef-color-green{color: $ef-color-green;}
.ef-color-blue{color: $ef-color-blue;}
.ef-color-black{color: $ef-color-black;}

.ef-font-2rem{font-size: 2rem}
.ef-btn-large{
  color: white;
  border-radius: 60px;
  outline: none;
  text-decoration: none;
  display: inline-block;
  padding: 0 30px;
  line-height: 45px;
  border: 0px;
  white-space: nowrap;
}
.ef-btn-ex-large {
  background-color: $ef-color-green;
  color: #fff!important;
  outline: none;
  padding: 15px 40px;
  font-size: 20px;
  border-radius: 50px!important;
  font-weight: 300!important;
  transition: 0.5s;
  text-decoration: none!important;
  white-space: nowrap;
}
.ef-box-bg-gray{
  background-color: #FAFAFA
}

.padding-top-3{padding-top: 3px}
.padding-top-5{padding-top: 5px}
.padding-top-8{padding-top: 8px}
.padding-top-10{padding-top: 10px}
.padding-top-20{padding-top: 20px}
.padding-top-40{padding-top: 40px}
.padding-top-60{padding-top: 60px}
.padding-top-80{padding-top: 60px}
.padding-top-100{padding-top: 100px}
.padding-bottom-10{padding-bottom: 10px}
.padding-bottom-20{padding-bottom: 20px}
.padding-bottom-40{padding-bottom: 40px}
.padding-bottom-60{padding-bottom: 60px}
.padding-tb-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-tb-40{
  padding-top: 40px;
  padding-bottom: 40px;
}
.padding-tb-60{
  padding-top: 60px;
  padding-bottom: 60px;
}
.padding-lr-20{
  padding-left: 20px;
  padding-right: 20px;
}
.padding-lr-40{
  padding-left: 40px;
  padding-right: 40px;
}
.padding-right-20{padding-right: 20px}
.padding-right-40{padding-right: 40px}
.padding-right-60{padding-right: 60px}
.padding-right-80{padding-right: 80px}

.no-padding-top{padding-top: 0}
.no-padding-right{padding-right: 0}
.no-padding-bottom{padding-bottom: 0}
.no-padding-left{padding-left: 0}

.margin-top-10{margin-top: 10px}
.margin-top-20{margin-top: 20px}
.margin-top-40{margin-top: 40px}
.margin-top-60{margin-top: 60px}
.margin-top-80{margin-top: 80px}
.margin-bottom-20{margin-bottom: 20px}
.margin-bottom-40{margin-bottom: 40px}
.margin-bottom-60{margin-bottom: 60px}
.margin-bottom-80{margin-bottom: 80px}
.margin-tb-20{margin: 20px 0px}
.margin-tb-40{margin: 40px 0px}
.margin-lr-20{margin: 0px 20px}
.margin-lr-40{margin: 0px 40px}
.no-margin-top{margin-top: 0px}
.no-margin-right{margin-right: 0}
.no-margin-bottom{margin-bottom: 0}
.no-margin-left{margin-left: 0}

.round-5{border-radius: 5px}
.round-8{border-radius: 8px}
.round-10{border-radius: 10px}

body{
  font-family: Montserrat,sans-serif;
  font-weight: 300!important;
}
//==== top nav part start
.navbar{
  padding: 1rem 0;
}
.navbar-nav li {
  a{
    text-transform: capitalize;
    color: $ef-color-black;
    transition: background-color .2s,color .2s;
  }

  .navbar-large-btn {
    @extend .ef-btn-large;
    @extend .ef-bg-color-green;
  }
}
.navbar-nav li a:hover{
  color: $ef-color-blue
}
.navbar-nav li.active > a,
.navbar-nav li a.active{
  color: $ef-color-blue !important;
  font-weight: 400;
  background: unset;
}
.dropdown-sub-menu .dropdown-item{
  padding-left: 2rem;
  font-size: 90%;
}
.dropdown-item{
  font-weight: 300;
}
@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
//== top nav part end
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

.ef-h1{
  font-size: 2rem; // over 1200px
  font-weight: 600;
  color: $ef-color-black;
  @media (max-width: 992px){
    font-size: 1.5rem;
  }
  @media (max-width: 768px){
    font-size: 2rem;
  }
  @media (max-width: 576px){
    font-size: 1.3rem;
  }
  //@each $breakpoint in map-keys($grid-breakpoints) {
  //  content: $breakpoint;
  //}
}

@mixin bg-image-size-adapter($url, $extension) {
  background-size:contain;
  background-repeat:no-repeat;
  background-image: url($url + $extension);
  @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
    background-image: url($url + "@2x" + $extension);
  }
}
.block-img-for-LS{
  @media (min-width: 768px){
    display: block;
  }
  @media (max-width: 768px){
    display: none;
  }
}
.block-img-for-SS{
  @media (min-width: 768px){
    display: none;
  }
  @media (max-width: 768px){
    display: block;
  }
}
