<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-6 my-4">
      <h1 class="ef-h1">Payment Gateway</h1>
      <p class="pt-3">Whether you’re looking to accept online payments from your customers through Debit/Credit card, Enable clients to pay by eCheck, online or by phone, easily and conveniently or to seamlessly accept Apple PayTM and Google PayTM online, in-app or at the point of sale – making it faster, simpler and more secure for customers to buy.<br><br>
        Efortles’ payment gateway allows you to reach customers on any device, at any time, from any location, so you can grow your business faster. </p>

      <div class="clearfix pt-4">
        <a href="javascript:;" class="ef-btn-ex-large" (click)="myService.showHomeVideo($event)" data-target="#homeVideoModal" data-toggle="modal">
          Start Now
        </a>
        <a href="tel:888-808-2318" class="ef-btn-ex-large margin-lr-20">
          Contact Sales
        </a>
      </div>
    </div>
    <div class="col-md-6 my-4 text-right">
      <div class="ef-img-00"></div>
    </div>

    <div class="col-md-6 my-4 block-img-for-LS">
      <div class="ef-img-01"></div>
    </div>
    <div class="col-md-6 my-4 home_feature_text_bg">
      <h4>GLOBALLY CONNECTED</h4>
      <p class="text-muted">ACCESS A GLOBAL MARKETPLACE WITH OVER 100 CURRENCIES AND 130 PAYMENT NETWORKS.<br>
        Our gateway connects with a global network of banks, so you can take your eCommerce business around the world. Accept all major credit cards, plus ACH and Direct Debit. Expand globally with regional, alternative payments such as iDEAL, giropay, and Boleto Bancário.</p>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="ef-img-01"></div>
    </div>

    <div class="col-md-6 my-4 home_feature_text_bg">
      <h4>Reduce costs</h4>
      <p class="text-muted">Efortles understands that running your business can get stressful when you have to pay hectic fees. Therefore, unlike other payment processors, Efortles only charges 2.6% & 10¢.</p>
    </div>

    <div class="col-md-6 my-4">
      <div class="ef-img-02"></div>
    </div>
    <!---->
    <div class="col-md-6 my-4 block-img-for-LS">
      <div class="ef-img-03"></div>
    </div>
    <div class="col-md-6 my-4 home_feature_text_bg">
      <h4>Accept It All</h4>
      <p class="text-muted">To accept virtually every type of payment that comes their way — from major credit and debit cards, to mobile wallets, to ACH (ECHECK) and alternative payments.</p>
      <p><img src="assets/services/payments_icons@2x.png" height="30"/></p>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="ef-img-03"></div>
    </div>
    <!---->
    <div class="col-md-6 my-5 home_feature_text_bg">
      <h4>FULL INTEGRATION</h4>
      <p class="text-muted">Our API provides the most flexible implementation.
        <br><br>
        Give your customers the payment experience they want. Whether you’re an experienced developer or a merchant, we’ve designed our API to be intuitive and fast to implement.<br><br>
        Access all of our eCommerce products through a single API Secure billing via tokenization reduces your PCI scope Robust developer portal with sandbox for testing.</p>
    </div>

    <div class="col-md-6 my-4">
      <div class="ef-img-04"></div>
    </div>
    <!---->
    <div class="col-md-6 my-4 block-img-for-LS">
      <div class="ef-img-05"></div>
    </div>
    <div class="col-md-6 my-4 home_feature_text_bg">
      <h4>SECURITY</h4>
      <h4>BUILT-IN FRAUD DETECTION</h4>
      <p class="text-muted">Safer, smarter payments are here. Our advanced decisioning platform helps prevent online fraud before it can happen. Best of all, it’s built right into our payment gateway – nor third party solution is required.
        <br><br>
        1) Tracks and monitors customer activity through the entire site across<br>
        &nbsp;&nbsp;&nbsp;&nbsp; multiple devices. <br>
        2) Within seconds of a payment, a Risk Score is given to every<br>
        &nbsp;&nbsp;&nbsp;&nbsp; transaction to determine the likelihood of fraud.<br>
        3) Works entirely in the background  and will not interrupt customer<br>
        &nbsp;&nbsp;&nbsp;&nbsp; shopping experience.</p>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="ef-img-05"></div>
    </div>
  </div>
</div>

<app-downloads></app-downloads>
<app-footer-banner></app-footer-banner>
<app-footer></app-footer>
