<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-6 my-4">
      <h1 class="ef-h1">Payroll Services</h1>
      <p class="pt-3">Your employees are the backbone of your company.
        Running a small business and understanding the regulations around paying them can be complicated, time consuming, and stressful.
        Whether you use a dedicated payroll company, Efortles payroll module, or have a few employees and want us to handle it,
        we understand all that is needed and required to keep you compliant.</p>

      <div class="clearfix pt-4">
        <a href="javascript:;" class="ef-btn-ex-large" (click)="myService.showHomeVideo($event)"
           data-target="#homeVideoModal" data-toggle="modal">
          Let’s Get Started
        </a>
      </div>
    </div>
    <div class="col-md-6 my-4 text-right">
      <div class="ef-img-00"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-4 block-img-for-LS">
      <div class="ef-img-01"></div>
    </div>
    <div class="col-md-5 my-4 home_feature_text_bg">
      <h4>Payroll Schedule – always ON TIME</h4>
      <p class="text-muted">You may pay your staff weekly, bi-weekly, or semi-monthly, depending on your industry or preference.
        Your staff and cash flow are the main determining factors on which schedule to pay on.
        Your payroll schedule will affect the timing of your federal tax payments for payroll. Your team at Efortles is here to discuss.</p>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="ef-img-01"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-4 home_feature_text_bg">
      <h4>Payroll Returns – always COMPLIANT</h4>
      <p class="text-muted">Filing quarterly and annual payroll tax reports is a critical part of making sure your business stays compliant.
        Efortles takes the worry out of payroll services for your business to ensure your payroll processor of choice is accurately filing on your behalf.</p>
    </div>

    <div class="col-md-5 my-4">
      <div class="ef-img-02"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-4 block-img-for-LS">
      <div class="ef-img-03"></div>
    </div>
    <div class="col-md-5 my-4 home_feature_text_bg">
      <h4>Contractors – always ON TOP</h4>
      <p class="text-muted">If your business utilizes sub-contractors rather than hourly or salaried employees,
        you are required to provide them with a 1099 form at the end of each year, as well as a corresponding 1096 form to the IRS.
        Your dedicated CPA team will work with you to ensure the proper documentation is collected from your contractors.</p>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="ef-img-03"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-5 home_feature_text_bg">
      <h4>Single Member LLC – always Reliable</h4>
      <p class="text-muted">Are you operating a single member LLC or sole proprietorship? Even though it is not considered payroll,
        you still need money to live. Efortles' tax experts will setup and advise you how to pay yourself and report your distributions to the government.
        At Efortles, we keep our clients compliant.</p>
    </div>

    <div class="col-md-5 my-4">
      <div class="ef-img-04"></div>
    </div>

  </div>
</div>

<app-downloads></app-downloads>
<app-footer-banner></app-footer-banner>
<app-footer></app-footer>
