<app-header></app-header>
<div class="font_montsettat"  (scroll)="onWindowScroll($event);">
	<div class="container-fluid gradient_1">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center ">
                  <h2 class="privacy-head">Terms and Conditions</h2>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <h6 class="font-style">
                     AGREEMENT BETWEEN USER AND WWW.EFORTLES.COM <br>
                     Welcome to www.efortles.com. The www.efortles.com website (the “Site”) is comprised of various web pages operated by EFORTles, Inc (“EFORTles”).
                     www.efortles.com is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein (the “Terms”).
                     Your use of www.efortles.com constitutes your agreement to all such Terms.
                     Please read these terms carefully and keep a copy of them for your reference.
                  </h6>
                  <h6 class="font-style">
                     www.efortles.com is an Online Accounting Services Site
                  </h6>
                  <h6 class="font-style">
                     PRIVACY <br>
                     Your use of www.efortles.com is subject to EFORTles’ Privacy Policy.
                     Please review our Privacy Policy, which also governs the Site and informs users of our data collection practices.
                  </h6>
                  <h6 class="font-style">
                     ELECTRONIC COMMUNICATIONS <br>
                     Visiting www.efortles.com or sending emails to EFORTles constitutes electronic communications.
                     You consent to receive electronic communications and you agree that all agreements, notices,
                     disclosures and other communications that we provide to you electronically,
                     via email and on the Site, satisfy any legal requirement that such communications be in writing
                  </h6>
                  <h6 class="font-style">
                     YOUR ACCOUNT<br>
                     If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer,
                     and you agree to accept responsibility for all activities that occur under your account or password.
                     You may not assign or otherwise transfer your account to any other person or entity.
                     You acknowledge that EFORTles is not responsible for third party access to your account that results from theft or misappropriation of your account.
                     EFORTles and its associates reserve the right to refuse or cancel service, terminate accounts, or remove or edit content in our sole discretion.
                     <br>
                     EFORTles does not knowingly collect, either online or offline, personal information from persons under the age of thirteen.
                     If you are under 18, you may use www.efortles.com only with permission of a parent or guardian.
                     <br>
                     Nonetheless, you agree that EFORTles shall only have an obligation to perform any work pursuant to our agreement upon the signing of the engagement letter by both parties.
                  </h6>
                  <h6 class="font-style">
                     DEMO MODE <br>
                     As a new user, you will have an early opportunity to access the services offered by EFORTles through a demo mode if necessary.
                     <br>
                     Notwithstanding any provision on the contrary herein, whether express or implied,
                     EFORTles represents that it only offers the demo mode for the sole purpose of giving its new users a way to experience the users’
                     portal and an early opportunity to come into terms with the features offered.
                     <br>
                     Accordingly, you agree that EFORTles has no obligation whatsoever to perform any services or work on the data or
                     information that the user provides or uploads during the demo period.
                  </h6>
                  <h6 class="font-style">
                     SERVICES OFFERED <br>
                     EFORTles offers two categories of services all bundled together: ACCOUNTING and PAYMENT SOLUTIONS services.
                     <br>
                     EFORTles agrees to provide to you its accounting services free of charge, provided that EFORTles remains the only payment processing service provider for your business.
                     <br>
                     The various options for payment solutions offered by EFORTles include, without limitation, ACH transfer, e-check, bill pay, invoicing, credit card transactions, debit card transactions,
                     and all other types of merchant services or online payment gateway services.
                     <br>
                     However, EFORTles reserves the right to refuse service to anyone, with or without any cause, at any time.
                  </h6>
                  <h6 class="font-style">
                     LINKS TO THIRD PARTY SITES/THIRD PARTY SERVICES <br>
                     www.efortles.com may contain links to other websites (”Linked Sites”).
                     The Linked Sites are not under the control of EFORTles and EFORTles is not responsible for the contents of any Linked Site,
                     including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site.
                     EFORTles is providing these links to you only as a convenience,
                     and the inclusion of any link does not imply endorsement by EFORTles of the site or any association with its operators.
                     <br>
                     Certain services made available via www.efortles.com are delivered by third party sites and organizations.
                     By using any product, service or functionality originating from the www.efortles.com domain,
                     you hereby acknowledge and consent that EFORTles may share such information and data with any third party with
                     whom EFORTles has a contractual relationship to provide the requested product, service or functionality on behalf of www.efortles.com users and customers.
                  </h6>
                  <h6 class="font-style">
                     NO UNLAWFUL OR PROHIBITED USE/INTELLECTUAL PROPERTY <br>
                     You are granted a non-exclusive, non-transferable, revocable license to access and use www.efortles.com strictly in accordance with these terms of use.
                     As a condition of your use of the Site, you warrant to EFORTles that you will not use the Site for any purpose that is unlawful or prohibited by these Terms.
                     You may not use the Site in any manner which could damage, disable, overburden, or impair the Site or interfere with any other party’s use and enjoyment of the Site.
                     You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Site. 
                     <br>
                     All content included as part of the Service, such as text, graphics, logos, images, as well as the compilation thereof,
                     and any software used on the Site, is the property of EFORTles or its suppliers and protected by copyright and other laws that protect intellectual
                     property and proprietary rights. You agree to observe and abide by all copyright and other proprietary notices,
                     legends or other restrictions contained in any such content and will not make any changes thereto.
                     <br>
                     You will not modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way exploit any of the content,
                     in whole or in part, found on the Site. EFORTles content is not for resale.
                     Your use of the Site does not entitle you to make any unauthorized use of any protected content,
                     and in particular you will not delete or alter any proprietary rights or attribution notices in any content.
                     You will use protected content solely for your personal use, and will make no other use of the content without the express written permission of
                     EFORTles and the copyright owner. You agree that you do not acquire any ownership rights in any protected content.
                     We do not grant you any licenses, express or implied, to the intellectual property of EFORTles or our licensors except as expressly authorized by these Terms.
                  </h6>
                  <h6 class="font-style">
                     THIRD PARTY ACCOUNTS <br>
                     You will be able to connect your EFORTles account to third party accounts. By connecting your EFORTles account to your third party account,
                     you acknowledge and agree that you are consenting to the continuous release of information about you to others
                     (in accordance with your privacy settings on those third party sites).
                     If you do not want information about you to be shared in this manner, do not use this feature.
                  </h6>
                  <h6 class ="font-style">
                     INTERNATIONAL USERS <br>
                     The Service is controlled, operated and administered by EFORTles from our offices within the USA. If you access the Service from a location outside the USA,
                     you are responsible for compliance with all local laws.
                     You agree that you will not use the EFORTles Content accessed through www.efortles.com in any country or
                     in any manner prohibited by any applicable laws, restrictions or regulations.
                  </h6>
                  <h6 class="font-style">
                     INDEMNIFICATION <br>
                     You agree to indemnify, defend and hold harmless EFORTles, its officers, directors, employees, agents and third parties,
                     for any losses, costs, liabilities and expenses (including reasonable attorney’s fees) relating to or arising out of your use of or
                     inability to use the Site or services, any user postings made by you, your violation of any terms of
                     this Agreement or your violation of any rights of a third party, or your violation of any applicable laws, rules or regulations.
                     EFORTles reserves the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you,
                     in which event you will fully cooperate with EFORTles in asserting any available defenses.
                  </h6>
                  <h6 class="font-style">
                     ARBITRATION <br>
                      In the event the parties are not able to resolve any dispute between them arising out of or concerning these Terms and Conditions,
                     or any provisions hereof, whether in contract, tort, or otherwise at law or in equity for damages or any other relief,
                     then such dispute shall be resolved only by final and binding arbitration pursuant to the Federal Arbitration Act,
                     conducted by a single neutral arbitrator and administered by the American Arbitration Association,
                     or a similar arbitration service selected by the parties, in Broward County, Florida.
                     The arbitrator’s award shall be final, and judgment may be entered upon it in any court having jurisdiction.
                     In the event that any legal or equitable action, proceeding or arbitration arises out of or concerns these Terms and Conditions,
                     the prevailing party shall be entitled to recover its costs and reasonable attorney’s fees.
                     The parties agree to arbitrate all disputes and claims in regards to these Terms and Conditions or any disputes arising as a result of these Terms and Conditions,
                     whether directly or indirectly, including Tort claims that are a result of these Terms and Conditions.
                     The parties agree that the Federal Arbitration Act governs the interpretation and enforcement of this provision.
                     The entire dispute, including the scope and enforceability of this arbitration provision shall be determined by the Arbitrator.
                     This arbitration provision shall survive the termination of these Terms and Conditions.
                  </h6>
                  <h6 class="font-style">
                     CLASS ACTION WAIVER <br>
                     Any arbitration under these Terms and Conditions will take place on an individual basis;
                     class arbitrations and class/representative/collective actions are not permitted.
                     THE PARTIES AGREE THAT A PARTY MAY BRING CLAIMS AGAINST THE OTHER ONLY IN EACH’S INDIVIDUAL CAPACITY,
                     AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PUTATIVE CLASS, COLLECTIVE AND/ OR REPRESENTATIVE PROCEEDING,
                     SUCH AS IN THE FORM OF A PRIVATE ATTORNEY GENERAL ACTION AGAINST THE OTHER. Further, unless both you and Employer agree otherwise,
                     the arbitrator may not consolidate more than one person’s claims, and may not otherwise preside over any form of a representative or class proceeding.
                  </h6>
                  <h6 class="font-style">
                     LIABILITY DISCLAIMER <br>
                     The information, software, products, and services included in or available through the site may include inaccuracies or typographical errors.
                     Changes are periodically added to the information herein. EFORTles and/or its suppliers may make improvements and/or changes in the site at any time. 
                     EFORTles and/or its suppliers make no representations about the suitability, reliability, availability, timeliness, and accuracy of the information,
                     software, products, services and related graphics contained on the site for any purpose.
                     To the maximum extent permitted by applicable law, all such information, software, products, services and related graphics are
                     provided “as is” without warranty or condition of any kind.
                     EFORTles and/or its suppliers hereby disclaim all warranties and conditions with regard to this information,
                     software, products, services and related graphics, including all implied warranties or conditions of merchantability,
                     fitness for a particular purpose, title and non-infringement.
                     <br>
                     To the maximum extent permitted by applicable law, in no event shall EFORTles and/or its suppliers be liable for any direct,
                     indirect, punitive, incidental, special, consequential damages or any damages whatsoever including, without limitation,
                     damages for loss of use, data or profits, arising out of or in any way connected with the use or performance of the site,
                     with the delay or inability to use the site or related services, the provision of or failure to provide services, or for any information,
                     software, products, services and related graphics obtained through the site, or otherwise arising out of the use of the site,
                     whether based on contract, tort, negligence, strict liability or otherwise, even if EFORTles or any of its suppliers has been advised of
                     the possibility of damages. Because some states/jurisdictions do not allow the exclusion or limitation of liability for consequential or incidental damages,
                     the above limitation may not apply to you.
                     If you are dissatisfied with any portion of the site, or with any of these terms of use, your sole and exclusive remedy is to discontinue using the site.
                  </h6>
                  <h6 class="font-style">
                     TERMINATION/ACCESS RESTRICTION <br>
                     EFORTles reserves the right, in its sole discretion, to terminate your access to the Site and the related services or any portion thereof at any time,
                     without notice. To the maximum extent permitted by law, this agreement is governed by the laws of the State of Florida and
                     you hereby consent to the exclusive jurisdiction and venue of courts in Florida in all disputes arising out of or relating to the use of the Site.
                     Use of the Site is unauthorized in any jurisdiction that does not give effect to all provisions of these Terms, including, without limitation, this section.
                     <br>
                     You agree that no joint venture, partnership, employment, or agency relationship exists between you and EFORTles as a result of this agreement or use of the Site.
                     EFORTles’ performance of this agreement is subject to existing laws and legal process, and nothing contained in
                     this agreement is in derogation of EFORTles’ right to comply with governmental, court and law enforcement requests or
                     requirements relating to your use of the Site or information provided to or gathered by EFORTles with respect to such use.
                     If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to,
                     the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid,
                     enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect. 
                     <br>
                     Unless otherwise specified herein, this agreement constitutes the entire agreement between the user and EFORTles with respect to the Site and it supersedes
                     all prior or contemporaneous communications and proposals, whether electronic, oral or written, between the user and EFORTles with respect to the Site.
                     A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or
                     relating to this agreement to the same extent and subject to the same conditions as other business documents and records originally
                     generated and maintained in printed form.
                     It is the express wish to the parties that this agreement and all related documents be written in English.
                  </h6>
                  <h6 class="font-style">
                     CHANGES TO TERMS <br>
                     EFORTles reserves the right, in its sole discretion, to change the Terms under which www.efortles.com is offered.
                     The most current version of the Terms will supersede all previous versions.
                     EFORTles encourages you to periodically review the Terms to stay informed of our updates
                  </h6>
                  <h6 class="font-style">
                     CONTACT US <br>
                     EFORTles welcomes your questions or comments regarding the Terms:
                  </h6>
                  <h6 class="font-style">
                     ADDRESS:<br>
                     575 Lexington Ave. <br/>
                     Suite 4006<br/>
                     New York, NY 10022<br/>
                  </h6>
                  <h6 class="font-style">
                     EMAIL: <br>
                     support@efortles.com
                     Effective as of January 1, 2018
                  </h6>
               </div>
            </div>
         </div>
      </div>
</div>

<app-downloads></app-downloads>
<app-footer-banner></app-footer-banner>
<app-footer></app-footer>
