<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-6 my-4">
      <h1 class="ef-h1">Government Notice Protection</h1>
      <p class="pt-3">Efortles provides government notice protection services for small businesses.
        Whether you need assistance with bookkeeping, tax returns, or IRS notifications,
        the Efortles team will help you get organized and create a planto prevent future notifications.
      </p>

      <div class="clearfix pt-4">
        <a href="javascript:;" class="ef-btn-ex-large" (click)="myService.showHomeVideo($event)"
           data-target="#homeVideoModal" data-toggle="modal">
          Let’s Get Started
        </a>
      </div>
    </div>
    <div class="col-md-6 my-4 text-right">
      <div class="ef-img-00"></div>
    </div>

    <div class="col-md-5 offset-md-1 my-4 block-img-for-LS">
      <div class="ef-img-01"></div>
    </div>
    <div class="col-md-5 my-4 home_feature_text_bg">
      <h4>Bookkeeping is behind? – No STRESS</h4>
      <p class="text-muted">Whether you’re recording transactions in a notebook, spreadsheet, or accounting software —
        if your books aren’t up to date, we can get you there fast.
        Your dedicated Efortles team works quickly to get your bookkeeping caught up, usually in a week or less.
        Don’t put it off a day longer – get caught up now and focus on your business with peace of mind.</p>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="ef-img-01"></div>
    </div>

    <div class="col-md-5 offset-md-1 my-4 home_feature_text_bg">
      <h4>Tax Return is missing? – No PROBLEM</h4>
      <p class="text-muted">Once your bookkeeping is up to date, your dedicated CPAs will file any required back tax returns and help you with potential penalty abatements. Our goal is to bring you up to speed and compliant, and chart a course so your business grows for years to come.</p>
    </div>

    <div class="col-md-5 my-4">
      <div class="ef-img-02"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-4 block-img-for-LS">
      <div class="ef-img-03"></div>
    </div>
    <div class="col-md-5 my-4 home_feature_text_bg">
      <h4>IRS Notice? – No WORRIES</h4>
      <p class="text-muted">Got a notice from the IRS or state taxation agencies? No worries, we will respond to the IRS on your behalf.
        Efortles’ government noticeprotection services will assist your small business in guiding you through the notifications while and assisting you togetting up to speed.</p>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="ef-img-03"></div>
    </div>

  </div>
</div>

<app-downloads></app-downloads>
<app-footer-banner></app-footer-banner>
<app-footer></app-footer>
