<app-header></app-header>

<div class="container-fluid blog-top-placeholder text-center">
  <div class="container">
    <h2 class="ef-color-blue text-left pl-2">Labor Condition Application Noticing</h2>
    <p class="text-left pl-2">
      Efortles Inc. is seeking H-1B Nonimmigrant workers through the filing of a labor condition application with the Employment and Training Administration of the US Department of Labor.
    </p>
  </div>
</div>

<div class="container-fluid blog-cards cards-dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="pl-2">Positions</h3>
        <div class="accordion" id="accordionExample">

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Brand Manager
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Wage of $62,000 / year is being offered to the worker.</li>
                  <li class="list-group-item">The period of employment intended for the H-1B worker is 10/01/2020 to 09/30/2023. </li>
                  <li class="list-group-item">The employment will occur at Efortles, Inc. 575 Lexington Avenue, New York, NY 10022.</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Strategy and Management Analyst
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Wage of $70,000 / year is being offered to the worker.</li>
                  <li class="list-group-item">The period of employment intended for the H-1B worker is 10/01/2020 to 09/30/2023. </li>
                  <li class="list-group-item">The employment will occur at Efortles, Inc. 575 Lexington Avenue, New York, NY 10022.</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Data Engineer
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Wage of $70,000 / year is being offered to the worker.</li>
                  <li class="list-group-item">The period of employment intended for the H-1B worker is 10/01/2020 to 09/30/2023. </li>
                  <li class="list-group-item">The employment will occur at Efortles, Inc. 575 Lexington Avenue, New York, NY 10022.</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="heading4">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                  Accounting Specialist
                </button>
              </h2>
            </div>

            <div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#accordionExample">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Wage of $62,000 / year is being offered to the worker.</li>
                  <li class="list-group-item">The period of employment intended for the H-1B worker is 10/01/2020 to 09/30/2023. </li>
                  <li class="list-group-item">The employment will occur at Efortles, Inc. 575 Lexington Avenue, New York, NY 10022.</li>
                </ul>
              </div>
            </div>
          </div>

        </div>

        <div class="card-body">
        <p>
          The labor condition application is available for public inspection at the office of Efortles, Inc. 575 Lexington Avenue, New York, NY 10022.
        </p>
        <p>
          Complaints alleging misrepresentation of material facts in the labor condition application and/or failure to comply with the terms of the labor condition application may be filed with any office of the Wage and Hour division of the United States Department of Labor.
        </p>
        </div>

      </div>
    </div>
  </div>
</div>

<!--<app-footer-banner></app-footer-banner>-->
<!--<app-downloads></app-downloads>-->
<app-footer></app-footer>
