<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-6 my-4">
      <h1 class="ef-h1">Income Tax</h1>
      <p class="pt-3">Whether it’s an 1120, 1120S, or 1065 income tax form,
        Efortles CPAs will file the right return on time. Say goodbye to extensions and not knowing
        if you paid on time! Our small business tax consultants even include one complimentary state filing with your business return if your business requires it. </p>

      <div class="clearfix pt-4">
        <a href="javascript:;" class="ef-btn-ex-large" (click)="myService.showHomeVideo($event)"
           data-target="#homeVideoModal" data-toggle="modal">
          Let’s Get Started
        </a>
      </div>
    </div>
    <div class="col-md-6 my-4 text-right">
      <div class="ef-img-00"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-4 block-img-for-LS">
      <div class="ef-img-01"></div>
    </div>
    <div class="col-md-5 my-4 home_feature_text_bg">
      <h4>Partnership – Form 1065, Done!</h4>
      <p class="text-muted">Form 1065 is a tax form used to report profits, losses and deductions of business partnerships located in the US.
        Foreign partnerships with income in the US must also file Form 1065. Let our CPAs help you file confidently.</p>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="ef-img-01"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-4 home_feature_text_bg">
      <h4>Corporation – Form 1120(S), Completed!</h4>
      <p class="text-muted">Form 1120 is the standard corporate tax return for reporting income to the IRS.
        The 1120 tax form is also used to report income from other entities that have filed an election to be taxed as a corporation.
        Our tax consultants will ensure your small business files correctly and on time!</p>
    </div>

    <div class="col-md-5 my-4">
      <div class="ef-img-02"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-4 block-img-for-LS">
      <div class="ef-img-03"></div>
    </div>
    <div class="col-md-5 my-4 home_feature_text_bg">
      <h4>LLC – Form 1120/1065, Nailed!</h4>
      <p class="text-muted">Depending on the company election, LLC can opt to file either Form 1120 or Form 1065.
        If you ever need help to choose which form to file, Efortles tax specialists are just one phone call away.
        Let our CPAs help your small business in preparing the right tax forms and on time!</p>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="ef-img-03"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-5 home_feature_text_bg">
      <h4>Sole Proprietorship - Schedule C, Finished!</h4>
      <p class="text-muted">Sole proprietors file a Schedule C tax form to report loss, income, and/or deductions. A sole proprietorship is a company formed when an owner is directly involved in operating or practicing a profession or service.</p>
    </div>

    <div class="col-md-5 my-4">
      <div class="ef-img-04"></div>
    </div>

  </div>
</div>

<app-downloads></app-downloads>
<app-footer-banner></app-footer-banner>
<app-footer></app-footer>
