@charset "utf-8";
@import "../../styles/common";

.feature-img-block{
  height: 100%;
  min-height: 200px;
}
.feature-img-01{
  @extend .feature-img-block;
  background-position: right top;
  @include bg-image-size-adapter('/assets/features/features_img_01', '.png');
  @media (min-width: 768px) and (max-width: 992px){
    background-position: right 10%;
  }
  @media (max-width: 768px){
    background-position: center;
    height: 260px;
    margin-top: 20px;
  }
}
.img-block-2{
  padding: 20px;
  height: 240px;
}
.feature-img-02{
  @extend .feature-img-block;
  @extend .img-block-2;
  @include bg-image-size-adapter('/assets/features/features_img_02', '.png');

  @media (min-width: 768px) and (max-width: 992px){
    background-position: right center;
    max-height: unset;
  }
  @media (max-width: 768px){
    background-position: center;
  }
}
.feature-img-03{
  @extend .feature-img-block;
  @extend .img-block-2;
  @include bg-image-size-adapter('/assets/features/features_img_03', '.png');
  background-position: right 10%;

  @media (min-width: 768px) and (max-width: 992px){
    background-position: left center;
    max-height: unset;
  }
  @media (max-width: 768px){
    background-position: center;
  }
}
.feature-img-04{
  @extend .feature-img-block;
  @extend .img-block-2;
  @include bg-image-size-adapter('/assets/features/features_img_04', '.png');
  @media (min-width: 768px) and (max-width: 992px){
    background-position: right center;
    max-height: unset;
  }
  @media (max-width: 768px){
    background-position: center;
  }
}
.feature-img-05{
  @extend .feature-img-block;
  @extend .img-block-2;
  @include bg-image-size-adapter('/assets/features/features_img_05', '.png');
  background-position: right top;

  @media (min-width: 768px) and (max-width: 992px){
    background-position: left center;
    max-height: unset;
  }
  @media (max-width: 768px){
    background-position: center;
  }
}
