<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-6 my-4">
      <h1 class="ef-h1">EFORTles all-inclusive<br> accounting & tax solution gives<br> you peace of mind</h1>
      <p class="pt-3">Let EFORTles lift the accounting burden from your business. </p>

      <div class="clearfix pt-4">
        <a href="javascript:;" class="ef-btn-ex-large" (click)="myService.showHomeVideo($event)"
           data-target="#homeVideoModal" data-toggle="modal">
          Let’s Get Started
        </a>
      </div>
    </div>
    <div class="col-md-6 my-4 text-right">
      <div class="feature-img-01"></div>
    </div>

    <div class="col-md-5 offset-md-1 my-4 block-img-for-LS">
      <div class="feature-img-02"></div>
    </div>
    <div class="col-md-5 my-4 home_feature_text_bg">
      <h4>All-inclusive Services</h4>
      <p class="text-muted">Why have multiple providers doing your compliance work when EFORTles can do it all! Your EFORTles
        subscription includes all your compliance needs – bookkeeping, sales & income tax filing, payroll reporting and notice responding.
        We also integrate your business data across different functions so all your filings, documents and reports are in one place.</p>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="feature-img-02"></div>
    </div>

    <div class="col-md-5 offset-md-1 my-4 home_feature_text_bg">
      <h4>Machine Learning Technology </h4>
      <p class="text-muted">EFORTles utilizes state of the art A.I. technology to aggregate both your cash and electronic transactions.
        All these transactions are then tagged and categorized autonomously by the machine learning algorithm. </p>
    </div>

    <div class="col-md-5 my-4">
      <div class="feature-img-03"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-4 block-img-for-LS">
      <div class="feature-img-04"></div>
    </div>
    <div class="col-md-5 my-4 home_feature_text_bg">
      <h4>Cutting-edge Software</h4>
      <p class="text-muted">We got it; you are on the run 24/7. That's why EFORTles puts all your financial data at your fingertips,
        so you can manage and analyze them on the go. No more digging through piles of files like a caveman.</p>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="feature-img-04"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-5 home_feature_text_bg">
      <h4>Dedicated CPA Team</h4>
      <p class="text-muted">We understand technology can only take us so far.
        Sometimes you will want to talk to a real CPA with professional knowledge in accounting and tax.
        That’s why all small business clients will have a dedicated CPA that they can discuss and consult with.</p>
    </div>

    <div class="col-md-5 my-4">
      <div class="feature-img-05"></div>
    </div>

  </div>
</div>

<app-downloads></app-downloads>
<app-footer-banner></app-footer-banner>
<app-footer></app-footer>
