<app-header></app-header>

<div class="container"> <!-- container centers content on large screens -->
  <div class="row">
    <div class="col-md-12 padding-tb-20">
      <h1 class="ef-h1 text-center">Accounting & Taxes</h1>
      <div class="row">
        <div class="col-md-12 padding-tb-20 text-center">
          Running your business should be fun and EFORTles. This is why at EFORTles we do not charge you anything for our accounting and tax services.
          <br>
          You do what you do best and we’ll take care of the rest.
          <br>
          EFORTles FREE CPA services for Small Businesses.
        </div>
        <div class="col-md-12 text-center pricing-img">
          <img src="assets/pricing/pricing_accounting@2x.png">
        </div>
      </div>
    </div>

    <div class="col-md-12 text-center margin-top-20">
      <b>Don’t forget, you also get a dedicated CPA for FREE.</b>
    </div>

  </div>
</div>

<app-downloads></app-downloads>
<app-footer-banner></app-footer-banner>
<app-footer></app-footer>
