<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-6 my-4">
      <h1 class="ef-h1">Sales Tax</h1>
      <p class="pt-3">Our sales tax experts work directly with you to identify your specific needs and develop a step-by-step action plan to achieve sales tax compliance quickly and efficiently.</p>

      <div class="clearfix pt-4">
        <a href="javascript:;" class="ef-btn-ex-large" (click)="myService.showHomeVideo($event)"
           data-target="#homeVideoModal" data-toggle="modal">
          Let’s Get Started
        </a>
      </div>
    </div>
    <div class="col-md-6 my-4 text-right">
      <div class="ef-img-00"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-4 block-img-for-LS">
      <div class="ef-img-01"></div>
    </div>
    <div class="col-md-5 my-4 home_feature_text_bg">
      <h4>Retail Sales Tax – No More Ambiguity</h4>
      <p class="text-muted">Operating a retail location where goods are sold means paying all applicable state, county, and city sales taxes. Remember that this may vary between your locations and that you may even be impacted by industry-specific sales tax rules. Efortles’s CPAs can guide you through the maze of regulations and help you stay compliant.</p>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="ef-img-01"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-4 home_feature_text_bg">
      <h4>eCommerce Taxes – No More Confusion</h4>
      <p class="text-muted">If you sell products online, or have multiple fulfillment locations, keep in mind that various Internet sales tax rules may apply to your business. Efortles’s CPAs are up to date on all the latest regulations so you stay compliant with the government.</p>
    </div>

    <div class="col-md-5 my-4">
      <div class="ef-img-02"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-4 block-img-for-LS">
      <div class="ef-img-03"></div>
    </div>
    <div class="col-md-5 my-4 home_feature_text_bg">
      <h4>Sales Tax for Professional Services - No More Uncertainty</h4>
      <p class="text-muted">If you operate a professional services business, you generally aren’t required to pay sales tax.
        But there are a few exceptions, if you are a service business but sell products to complement your services,
        you may be responsible to collect sales tax. Efortles helps you understand the right amount to collect so you can focus
        on serving customers and increasing profits as well as make filing taxes easy.</p>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="ef-img-03"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-5 home_feature_text_bg">
      <h4>Taxes on Digital Goods - No More Doubt</h4>
      <p class="text-muted">You’re all excited about opening your online business and are ready to start selling digital goods to your customers in the US.
        If only digital taxes weren’t so overwhelmingly complex! American sales tax follows one of the most complicated systems on the planet,
        but don’t worry: Efortles's CPAs take all of these state laws into account and makes you job simple.</p>
    </div>

    <div class="col-md-5 my-4">
      <div class="ef-img-04"></div>
    </div>

  </div>
</div>

<app-downloads></app-downloads>
<app-footer-banner></app-footer-banner>
<app-footer></app-footer>
