<app-header></app-header>
<div class="font_montsettat"  (scroll)="onWindowScroll($event);">
	<div class="container-fluid gradient_1">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center ">
                  <h2 class="privacy-head">Privacy Policy</h2>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid ss-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <h6 class="font-style">
                     Protecting your private information is our priority. This Statement of Privacy applies to the www.efortles.com and EFORTles and governs data collection and usage.
                     For the purposes of this Privacy Policy, unless otherwise noted, all references to EFORTles include www.efortles.com.
                     The EFORTles website is a service site. By using the EFORTles website, you consent to the data practices described in this statement.
                  </h6>
                  <h6 class="font-style">
                     COLLECTION OF YOUR PERSONAL INFORMATION <br>
                      EFORTles may collect personally identifiable information, such as your name.
                     If you purchase EFORTles’ products and services, we collect billing, credit card or bank information.
                     This information is used to complete the purchase transaction. EFORTles may also collect anonymous demographic information,
                     which is not unique to you, such as your age and gender.
                     We may gather additional personal or non-personal information in the future.
                  </h6>
                  <h6 class="font-style">
                     Information about your computer hardware and software may be automatically collected by EFORTles.
                     This information can include: your IP address, browser type, domain names, access times and referring website addresses.
                     This information is used for the operation of the service,
                     to maintain quality of the service, and to provide general statistics regarding use of the EFORTles website.
                  </h6>
                  <h6 class="font-style">
                     EFORTles encourages you to review the privacy statements of websites you choose to link to from EFORTles so that you can understand how those websites collect,
                     use and share your information.
                     EFORTles is not responsible for the privacy statements or other content on websites outside of the EFORTles website.
                  </h6>
                  <h6 class="font-style">
                     USE OF YOUR PERSONAL INFORMATION<br>
                     EFORTles collects and uses your personal information to operate its website(s) and deliver the services you have requested.
                  </h6>
                  <h6 class="font-style">
                     EFORTles may also use your personally identifiable information to inform you of other products or services available from EFORTles and its affiliates.
                     EFORTles may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.
                  </h6>
                  <h6 class="font-style">
                     EFORTles does not sell, rent or lease its customer lists to third parties.
                  </h6>
                  <h6 class="font-style">
                     EFORTles may, from time to time, contact you on behalf of external business partners about a particular offering that may be of interest to you.
                     In those cases, your unique personally identifiable information (e-mail, name, address, telephone number) is transferred to the third party.
                     EFORTles may share data with trusted partners to help perform statistical analysis, send you email or postal mail, or provide customer support.
                     All such third parties are prohibited from using your personal information except to provide these services to EFORTles,
                     and they are required to maintain the confidentiality of your information.
                  </h6>
                  <h6 class="font-style">
                     EFORTles may keep track of the websites and pages our users visit within EFORTles, in order to determine what EFORTles services are the most popular.
                     This data is used to deliver customized content and advertising within EFORTles to customers whose behavior indicates that they are
                     interested in a particular subject area.
                  </h6>
                  <h6 class="font-style">
                     EFORTles will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to:
                     (a) conform to the edicts of the law or comply with legal process served on EFORTles or the site;
                     (b) protect and defend the rights or property of EFORTles;
                     and, (c) act under exigent circumstances to protect the personal safety of users of EFORTles, or the public.
                  </h6>
                  <h6 class="font-style">
                     CONSENT TO THE COLLECTION, DISCLOSURE, AND USE OF YOUR DATA<br>
                     By agreeing to use the services of EFORTles, including making use of the facilities provided by our website,
                     you hereby unconditionally consent to the use or disclosure of any and all of your personal and non-personal data collected by EFORTles
                     for the provision of the services requested, for tailoring professional recommendations to our clients,
                     for analyzing the credibility of the business, or for purposes of generating revenue.
                     <br>
                     Further, you agree that such collection, disclosure, and/or use of your data will not cause any loss or wrongful gain to you or your business and that
                     you will indemnify, defend, and hold harmless EFORTles from any and all claims, causes of action, liabilities, including judgements, costs,
                     and reasonable attorney fees,
                     arising from the collection, disclosure, or use of your data, except as a result of EFORTles’ gross negligence, willful misconduct, or bad faith.
                  </h6>
                  <h6 class="font-style">
                     USE OF COOKIES <br>
                     The EFORTles website may use “cookies” to help you personalize your online experience.
                     A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer.
                     Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.
                  </h6>
                  <h6 class="font-style">
                     One of the primary purposes of cookies is to provide a convenience feature to save you time.
                     The purpose of a cookie is to tell the Web server that you have returned to a specific page.
                     For example, if you personalize EFORTles pages, or register with EFORTles site or services,
                     a cookie helps EFORTles to recall your specific information on subsequent visits.
                     This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on.
                     When you return to the same EFORTles website,
                     the information you previously provided can be retrieved, so you can easily use the EFORTles features that you customized.
                  </h6>
                  <h6 class="font-style">
                     You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies,
                     but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies,
                     you may not be able to fully experience the interactive features of the EFORTles services or websites you visit.
                  </h6>
                  <h6 class="font-style">
                     SECURITY OF YOUR PERSONAL INFORMATION <br>
                     EFORTles secures your personal information from unauthorized access, use or disclosure.
                     When personal information (such as a credit card number) is transmitted to other websites,
                     it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.
                  </h6>
                  <h6 class="font-style">
                     CHILDREN UNDER THIRTEEN <br>
                     EFORTles does not knowingly collect personally identifiable information from children under the age of thirteen.
                     If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.
                  </h6>
                  <h6 class="font-style">
                     OPT-OUT & UNSUBSCRIBE <br>
                     We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or
                     all communications from EFORTles by following the instructions at the bottom of each email and we will promptly remove you from ALL correspondence.
                  </h6>
                  <h6 class="font-style">
                     CHANGES TO THIS STATEMENT <br>
                     EFORTles will occasionally update this Statement of Privacy to reflect company and customer feedback.
                     EFORTles encourages you to periodically review this Statement to be informed of how EFORTles is protecting your information.
                  </h6>
                  <h6 class="font-style">
                     CONTACT US <br>
                     EFORTles welcomes your questions or comments regarding the Statement of Privacy:
                  </h6>
                  <h6 class="font-style">
                     ADDRESS:<br>
                     575 Lexington Ave. <br/>
                     Suite 4006<br/>
                     New York, NY 10022<br/>
                  </h6>
                  <h6 class="font-style">Flushing, New York 11354</h6>
                  <h6 class="font-style">
                     EMAIL: <br>
                     info@efortles.com
                  </h6>
               </div>
            </div>
         </div>
      </div>
</div>


<app-downloads></app-downloads>
<app-footer-banner></app-footer-banner>
<app-footer></app-footer>