<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-6 my-4">
      <h1 class="ef-h1">Accounting & Bookkeeping Services</h1>
      <p class="pt-3">Efortles records and reconciles all your transactions with the help of Artificial Intelligence. Our professional CPAs then review all the accounting statements to make sure they are accurate and error-free. All these are done seamlessly in the backend and will be ready the next business day at your fingertip, so you can be headache-free. </p>

      <div class="clearfix pt-4">
        <a href="javascript:;" class="ef-btn-ex-large" (click)="myService.showHomeVideo($event)"
           data-target="#homeVideoModal" data-toggle="modal">
          Let’s Get Started
        </a>
      </div>
    </div>
    <div class="col-md-6 my-4 text-right">
      <div class="ef-img-00"></div>
    </div>

    <div class="col-md-5 offset-md-1 my-4 block-img-for-LS">
      <div class="ef-img-01"></div>
    </div>
    <div class="col-md-5 my-4 home_feature_text_bg">
      <h4>Accounting – the SMART way</h4>
      <p class="text-muted">Efortles utilize state of the art technology to aggregate both your cash and electronic transactions. Then all these transactions are tagged and categorized autonomously by the Artificial Intelligence we have built using Neural Network Machine Learning methodology.</p>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="ef-img-01"></div>
    </div>

    <div class="col-md-5 offset-md-1 my-4 home_feature_text_bg">
      <h4>Bookkeeping – the QUICK way</h4>
      <p class="text-muted">In today’s fast-paced society, trend forms and stops quickly. Business, especially small business, need to adapt to trends and real-time changes in a much faster manor to thrive. At Efortles, we show your financials immediately, so you can make informed decisions in real-time.</p>
    </div>

    <div class="col-md-5 my-4">
      <div class="ef-img-02"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-4 block-img-for-LS">
      <div class="ef-img-03"></div>
    </div>
    <div class="col-md-5 my-4 home_feature_text_bg">
      <h4>Account Management – the MODERN way</h4>
      <p class="text-muted">We got it, you are on the run 24/7. That’s why Efortles put all your financial data, trial balance reports, and tax statements at your fingertips.  So, you can analyze them on the go. No more digging through piles of files like a caveman.</p>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="ef-img-03"></div>
    </div>
    <!---->
    <div class="col-md-5 offset-md-1 my-5 home_feature_text_bg">
      <h4>Organization – the USEFUL way</h4>
      <p class="text-muted">Bookkeeping isn’t just about keeping records. It is the foundation of your tax returns. Efortles approaches your bookkeeping with a purpose in mind – tax-saving. We help you identify every opportunity to minimize tax liability by planning ahead.</p>
    </div>

    <div class="col-md-5 my-4">
      <div class="ef-img-04"></div>
    </div>

  </div>
</div>

<app-downloads></app-downloads>
<app-footer-banner></app-footer-banner>
<app-footer></app-footer>
