<footer>
  <div class="container content py-5">
    <div class="row fadeIn">
      <div class="col-md-4">
        <div class="footer-logo">
          <img src="assets/logo@2x.png">
        </div>
        <div class="social-container">
          <a href="https://www.facebook.com/efortles/" target="_blank" title="Facebook">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a href="https://twitter.com/efortles_inc?ref_src=twsrc%5Etfw" target="_blank" title="Twitter">
            <i class="fa fa-twitter-square"></i>
          </a>
          <a href="https://www.instagram.com/efortles.inc/" target="_blank" title="Instagram">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/company/efortles" target="_blank" title="LinkedIn">
            <i class="fa fa-linkedin-square"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCziR95-_EiFp0NHG7ZI7l8w" target="_blank" title="Youtube">
            <i class="fa fa-youtube-square"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 text-left">
        <div class="contact-details">
          <!--<h5>Contact Us</h5>-->
          <ul>
            <li>
              EFORTles Inc.
            </li>
            <li>
              <a href="https://g.page/Efortles?share" target="_blank">
                575 Lexington Ave. Suite 4006<br>New York, NY 10022
              </a><br><br>
              <i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;<a href="tel:888-808-2318">(888) 808-2318</a><br>
              <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<a href="mailto:info@efortles.com">info@efortles.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 text-left">
        <div class="contact-details">
          <!-- <h5>Customer Services</h5> -->
          <ul>
            <li>
              <a routerLink="/blogs">Blog</a>
            </li>
            <li>
              <a routerLink="/how-it-works">How It Works</a>
            </li>
            <li>
              <a routerLink="/features">Features</a>
            </li>
            <li>
              <a href="https://www.efortles.co/terms-n-condition">Terms and Condition</a>
            </li>
            <li>
              <a href="https://www.efortles.co/privacy-policy">Privacy Policy</a>
            </li>
            <li>
              <a routerLink="/lca-noticing">LCA Noticing</a>
            </li>

          </ul>
        </div>
      </div>
      <!--<div class="col-sm-3 text-left">-->
      <!--<a href="https://twitter.com/efortles_inc?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false">Follow @efortles_inc</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
      <!--</div>-->
    </div>
  </div>
</footer>
