<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-6 my-4">
      <h1 class="ef-h1">SHE MEANS BUSINESS</h1>
      <p class="padding-tb-20">Small Businesses, Entrepreneurs and Business Professionals face existing and continuing challenges and obstacles.  Every Monday, Melanie Contreras, a long-time supporter of the small business population and woman’s activist will be taking on everything and anything that circumscribes or touches the small business population.  If you’re a small business owner, entrepreneur or a woman climbing the corporate ladder, let this podcast inspire you with solutions to your challenges.</p>

    </div>
    <div class="col-md-6 my-4 text-right">
      <div class="ef-img-00"></div>
    </div>
  </div>

  <div class="col-md-12 py-3">
    <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/12780536/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/87A93A/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/12780017/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/87A93A/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/12779975/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/87A93A/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
  </div>

</div>

<app-downloads></app-downloads>
<app-footer></app-footer>
