<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-7 text-center">
      <h4>
        HELPING YOU THRIVE<BR>IN A WORLD OF FAST-CHANGING<BR>PAYMENT TECHNOLOGY
      </h4>
      <p class="h1 ef-color-green padding-top-60">2.6% + <small style="font-size: 50%">10¢</small></p>
      <p class="small">PER SUCCESSFUL CARD CHARGE</p>
      <p class="padding-tb-20 ef-color-blue"><b>ACCEPT IT ALL</b></p>
      <P>OUR ADVANCED PAYMENT TECHNOLOGY SOLUTIONS ENABLE OUR PARTNERS TO ACCEPT VIRTUALLY EVERY TYPE OF PAYMENT THAT COMES THEIR WAY - FROM MAJOR CREDIT CARD AND DEBIT CARDS, TO MOBILE WALLETS AND ALTERNATIVE PAYMENTS.</P>
      <p class="padding-tb-20">
        <a href="javascript:;" class="pricing-start-btn-large" (click)="myService.showHomeVideo($event)" data-target="#homeVideoModal" data-toggle="modal">
          GET STARTED IN MINUTES <i class="fa fa-arrow-right fa-long-arrow-right"></i>
        </a>
      </p>
    </div>
    <div class="col-md-5 padding-top-60">
      <img class="pull-right" width="430" src="assets/pricing/payment_gateway_v2_01@2x.png">
    </div>
  </div>
</div>

<app-downloads></app-downloads>
<app-footer-banner></app-footer-banner>
<app-footer></app-footer>
