<app-header></app-header>

<div class="container-fluid">
  <div class="container content-narrow py-3">
    <div class="col-md-12">
      <p>
        <a class="ef-color-blue" routerLink="/blogs">Efortles Knowledge Base</a>
        <span class="share-button-box float-right">
          <a class="share-btn" href="javascript:;" (click)="toggleShareBtn();"><i class="fa fa-share-alt"></i></a>
          <div [@openClose]="shareBtnExpanded ? 'open' : 'closed'" class="share-options">
            <a [href]="'mailto:info@efortles.com?subject=' + pageConfig.title + '&body=' + pageConfig.pageUrl"><i class="fa fa-envelope"></i></a>
            <a href="javascript:;" mat-fab shareButton="facebook" style.backgroundColor="'white'"
               [title]="pageConfig.title" [description]="pageConfig.description" [image]="pageConfig.pageCover">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="javascript:;" mat-fab shareButton="twitter" style.backgroundColor="'white'"
               [title]="pageConfig.title" [description]="pageConfig.description" [image]="pageConfig.pageCover">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="javascript:;" mat-fab shareButton="linkedin" style.backgroundColor="'white'"
               [title]="pageConfig.title" [description]="pageConfig.description" [image]="pageConfig.pageCover">
              <i class="fa fa-linkedin"></i>
            </a>

<!--            <a [href]="'https://www.linkedin.com/shareArticle?mini=true&url=' +pageConfig.pageUrl+-->
<!--            '&title=' +pageConfig.title+ '&summary=efortles.com&source=Efortles'" onclick="window.open(this.href, 'mywin',-->
<!--'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa fa-linkedin"></i></a>-->

            <a href="javascript:;" class="icon-close-share" (click)="toggleShareBtn();"><i class="fa fa-close"></i></a>
          </div>
        </span>
      </p>
    </div>
    <div class="col-md-12">
      <h1 class="">{{blog.title}}</h1>
      <p class="small text-muted">{{blog.updated_at | date: 'dd/MM/yyy'}}</p>
    </div>

    <div class="col-md-12">
      <img class="in-blog-img" src= "{{blog.cover}}" alt="{{blog.title}}" title="{{blog.title}}">
      <p [innerHTML]="blog.content"></p>
    </div>

  </div>
</div>
<app-footer-banner></app-footer-banner>

<app-downloads></app-downloads>
<app-footer></app-footer>
<ngx-json-ld [json]="schema"></ngx-json-ld>

