@charset "utf-8";
@import "../../styles/common";

.content-narrow{
  max-width: 960px;
}
.share-button-box{
  float: right;
  position: relative;
  z-index: 9;

  .share-options{
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 99;
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    white-space: nowrap;
    display: flex;
    flex-direction: row;

    a{
      float: left;
      color: white;
      display: inline-block;
      padding: 0 20px;
    }
  }
}

.share-btn{
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 15px;
  color: gray;
  line-height: 28px;
  text-align: center;
  display: inline-block;
}
.share-btn:hover{
  background-color: black;
  color: white;
}

.in-blog-img {
  float: right;
  width: 50%;
  margin: 0 0 20px 20px;
}
