<app-header></app-header>

<div class="container-fluid">
  <div class="container content-narrow py-3">
    <div class="col-md-12">
      <p>
        <a class="ef-color-blue" routerLink="/blogs">Efortles Knowledge Base</a>
        <span class="share-button-box float-right">
          <a class="share-btn" href="javascript:;" (click)="toggleShareBtn('open');"><i class="fa fa-share-alt"></i></a>
          <div *ngIf="shareBtnExpanded" class="share-options">
            <a href="mailto:info@efortles.com"><i class="fa fa-envelope"></i></a>
            <a href="javascript:;" class="icon-close-share" (click)="toggleShareBtn('close');"><i class="fa fa-close"></i></a>
          </div>
        </span>
      </p>
    </div>
    <div class="col-md-12">
      <h1 class="">{{blog.title}}</h1>
      <p class="small text-muted">{{blog.updated_at | date: 'dd/MM/yyy'}}</p>
    </div>

    <div class="col-md-12">
      <img class="in-blog-img" src= "{{blog.cover}}" alt="{{blog.title}}" title="{{blog.title}}">
      <p [innerHTML]="blog.content"></p>
    </div>
  </div>
</div>

<app-footer-banner></app-footer-banner>

<app-downloads></app-downloads>
<app-footer></app-footer>
