<app-header></app-header>

<div class="container content"> <!-- container centers content on large screens -->
  <div class="row">             <!-- responsive row has 12 columns by default -->
    <div class="col-md-6 my-4">
      <h1 class="ef-h1">Free CPA & Accounting Services, 5 Minutes a Week</h1>
      <p class="text-muted">Everything you need for your business accounting & taxes.</p>
      <p>We combine the power of machine learning algorithm with on-demand CPAs providing you with: </p>
      <div class="clearfix">
        <a class="slider_sub_list" routerLink="/bookkeeping">
          <span class="listIcon"><i class="fa fa-check-circle"></i></span>
          <span class="listText">Bookkeeping</span>
        </a>
        <a class="slider_sub_list mr-0" routerLink="/payroll-report">
          <span class="listIcon"><i class="fa fa-check-circle"></i></span>
          <span class="listText">Payroll Reporting</span>
        </a>
        <a class="slider_sub_list" routerLink="/sales-tax">
          <span class="listIcon"><i class="fa fa-check-circle"></i></span>
          <span class="listText wrapRow">Sales & Income <br>Tax Preparation</span>
          <span class="listText noWrapRow">Sales & Income Tax Preparation</span>
        </a>
        <a class="slider_sub_list mr-0" routerLink="/government-notice">
          <span class="listIcon"><i class="fa fa-check-circle"></i></span>
          <span class="listText wrapRow">Government <br>Notice Protection</span>
          <span class="listText noWrapRow">Government Notice Protection</span>
        </a>
      </div>
      <div class="clearfix pt-4 viewDemoBtn leftSide">
        <!--old video: https://www.youtube.com/embed/UKlywgu8zH0-->
        <!--           (click)="myService.showHomeVideo($event)"-->
        <a href="javascript:;" class="ef-btn-ex-large"
           data-target="#homeVideoModal" data-toggle="modal">
          View Demo
        </a>
      </div>
    </div>
    <div class="col-md-6 my-4 text-right">
      <div class="home-hero-01"></div>
      <div class="clearfix pt-4 viewDemoBtn rightSide">
        <!--old video: https://www.youtube.com/embed/UKlywgu8zH0-->
        <!--           (click)="myService.showHomeVideo($event)"-->
        <a href="javascript:;" class="ef-btn-ex-large"
           data-target="#homeVideoModal" data-toggle="modal">
          View Demo
        </a>
      </div>
    </div>

    <div class="col-md-6 my-4 block-img-for-LS">
      <div class="home-img-01"></div>
    </div>
    <div class="col-md-6 my-4 home_feature_text_bg">
      <h4>Free for Life</h4>
      <p class="text-muted">How? We shift your accounting expenses to the payment processors. Instead of paying thousands for a CPA,
        you simply switch to our payment solutions. Our simplified 2.6% fee is lower than all competitors.
        Best yet, you get your CPA services for free!</p>
      <button class="ef-btn-large ef-bg-color-green" type="button" routerLink="/how-it-works">Learn More</button>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="home-img-01"></div>
    </div>

    <div class="col-md-6 my-4 home_feature_text_bg">
      <h4>5-Minute Commitment</h4>
      <p class="text-muted">We promise that you will only spend 5 minutes a week to manage your business accounting.
        If you find yourself spending more than that, let us know. We will fix it!
        Ever wonder what running a business is like without the tedious financial tasks, try EFORTles. </p>
      <button class="ef-btn-large ef-bg-color-green" type="button" routerLink="/how-it-works">Learn More</button>
    </div>

    <div class="col-md-6 my-4">
      <div class="home-img-02"></div>
    </div>
<!---->
    <div class="col-md-6 my-4 block-img-for-LS">
      <div class="home-img-03"></div>
    </div>
    <div class="col-md-6 my-4 home_feature_text_bg">
      <h4>Next Gen' Accounting Management Technology</h4>
      <p class="text-muted">We utilize state of the art A.I. technology to significantly increase our operational efficiency,
        thus elevating your business to the next level!</p>
      <button class="ef-btn-large ef-bg-color-green" type="button" routerLink="/how-it-works">Learn More</button>
    </div>
    <div class="col-md-6 my-4 block-img-for-SS">
      <div class="home-img-03"></div>
    </div>
<!---->
    <div class="col-md-6 my-4 home_feature_text_bg">
      <h4>Dedicated CPA Team</h4>
      <p class="text-muted">We assign a dedicated CPA to professionally manage your accounting and taxes.
        You can pick up your phone and call them or shoot them an email anytime,
        just like a personal concierge service.</p>
      <button class="ef-btn-large ef-bg-color-green" type="button" routerLink="/how-it-works">Learn More</button>
    </div>

    <div class="col-md-6 my-4">
      <div class="home-img-04"></div>
    </div>

  </div>
</div>

<div class="home-banner">
  <div class="home-banner-bg"></div>
  <div class="row">
    <div class="col-md-6">
      <h3>How EFORTles helps your <b>Business</b></h3>
    </div>
    <div class="col-md-6">
      <div class="home-banner-btn">
        <span class="icon"><i class="icon-cup"></i></span>
        <span class="text">Success Story</span>
      </div>
      <div class="home-banner-btn left-btn">
        <!--    (click)="myService.showHomeVideoOld($event)"-->
        <a href="javascript:;" style="color: white"
           data-target="#homeVideoModal-old" data-toggle="modal">
          <span class="icon"><i class="icon-play"></i></span>
          <span class="text">Play Video</span>
        </a>
      </div>
    </div>

  </div>

</div>

<div class="container content">
  <div class="row my-5">
    <div class="col-md-6 pt-lg-5">
      <h1 class="ef-h1 py-3">The EFORTles Obsession</h1>
      <div class="text-muted py-3">
        <p>While you no longer pay for email service and creating an Instagram account is only a few clicks away,
          running your business should be just as EFORTles!</p>
        <p>We believe by making professional CPA services free and accessible to all business owners we can
          significantly boost entrepreneurship and spark innovations</p>
        <p>This is our first step in furthering our mission - To empower business owners to respond to their
          entrepreneurial callings, drive the frontiers of their potential, and realize the American Dream.</p>
        <p>We believe in removing any and all barriers for all entrepreneurial individuals so they can realize their
          destiny.</p>
      </div>

      <div class="clearfix padding-top-20">
        <button class="ef-btn-large ef-bg-color-green" type="button" routerLink="/how-it-works">Learn More</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="home-intro-01"></div>
    </div>
  </div>
</div>

<div class="container-fluid home-testimonials">
  <div class="container">
    <div class="row justify-content-center position-relative">
      <div class="col-12">
        <h2 class="text-center">Testimonials</h2>
      </div>
      <div class="col-md-8">
        <ngb-carousel #ngCarousel class="testimonial-carousel"
                      [showNavigationArrows]="false"
                      [showNavigationIndicators]="false"
                      interval="12000"
                      [keyboard]="true"
                      [pauseOnHover]="true"
                      [wrap]="true"
                      [activeId]="'secondSlide'"
                      (slide)="slideActivate($event)" style="display: inline-block"
        >
          <ng-template ngbSlide *ngFor="let slide of slides; let i = index;" [attr.id]="i">
            <div class="row">
              <div class="col-md-4 testimonial_images_box">
                <div class="testimonial_images">
                  <div class="avatar">
                    <img src="{{slide.img}}"/>
                  </div>
                </div>
              </div>
              <div class="col-md-8 testimonial_name">
                <b>{{slide.name}}</b>
                <div>{{slide.position}}</div>
              </div>
              <div class="col-md-12">
                <p class="text-muted">{{slide.desc}}</p>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>

<!--        <a class="carousel-control-prev" href="javascript:;" (click)="this.ngCarousel.prev()">-->
<!--          <i class="fa fa-chevron-left"></i>-->
<!--        </a>-->
<!--        <a class="carousel-control-next" href="javascript:;" (click)="this.ngCarousel.next()">-->
<!--          <i class="fa fa-chevron-right"></i>-->
<!--        </a>-->
      </div>
      <div class="col-md-12 position-relative">
        <ol class="carousel-indicators">
          <li *ngFor="let slide of slides; let i = index"
              (click)="navigateToSlide(i)"
              [ngClass]="i===0 ? 'active' : ''"
          >{{i}}</li>
        </ol>
        &nbsp;
      </div>
    </div>
  </div>
</div>

<app-downloads></app-downloads>
<app-footer-banner></app-footer-banner>
<app-footer></app-footer>
