<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-6 my-4">
      <h1 class="ef-h1">We envision a world<br>where starting & running<br>a business is EFORTles for<br>every entrepreneur.</h1>

      <div class="clearfix pt-4">
        <a href="javascript:;" class="ef-btn-ex-large" (click)="myService.showHomeVideo($event)" data-target="#homeVideoModal" data-toggle="modal">
          Started Now
        </a>
      </div>
    </div>
    <div class="col-md-6 my-4 text-right">
      <div class="ef-img-00"></div>
    </div>
  </div>

  <div class="col-md-10 offset-md-1 py-3 mission-images">
    <img src="assets/about-us/Mission -.png">
    <img src="assets/about-us/Vision -.png">
    <img src="assets/about-us/Core Value.png">
  </div>

  <div class="col-md-12 py-3 text-center">
    <img width="100%" src="assets/about-us/Video -.png">
  </div>

  <div class="col-md-10 offset-md-1 py-3 text-center">
    <img width="90%" src="assets/about-us/Teams -.png">
  </div>
</div>
<app-footer></app-footer>
