<div class="container content pt-5 download-box">
  <div class="row">
    <div class="col-md-6">
      <h1 class="ef-h1">The Easiest Way to Manage<br>
        Your Business Accounting</h1>
      <p class="py-4">Easily record and manage expenses and receipts online.<br>
        Download our free bookkeeping App and capture expenses, invoice and reconcile while you’re on the move.</p>
      <div class="download_btns">
        <a class="download_btn" href="https://play.google.com/store/apps/details?id=com.apps.efortles&hl=en_US" target="_blank">
          <img src="assets/downloads/download_icon_android@2x.png" alt="BookkeepingService App" title="BookkeepingService App"></a>
        <a class="download_btn" href="https://apps.apple.com/in/app/efortles/id1390164275" target="_blank">
          <img src="assets/downloads/download_icon_ios@2x.png" alt="BookkeepingService App" title="BookkeepingService App"></a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="download-img-01"></div>
    </div>
  </div>
</div>
