<div class="footer-banner">
  <div class="text-box">
    <h3>Try EFORTles, it's completely <b>Risk-Free</b></h3>
    <div class="helper_block">
      We will always be relentless in our quest to eliminate barriers and find ways to foster growth for all small business owners.
      Offering our services 100% FREE for life is the very first step of this journey.<br>
      We believe you should focus on growing your business, not crunching numbers on calculators. Leave that to the professionals!
    </div>
  </div>
  <div class="footer-banner-btn">
    <!--    (click)="myService.showHomeVideo($event)"-->
    <a href="javascript:;" class="ef-btn"
       data-target="#homeVideoModal" data-toggle="modal">
      Try Now
    </a>
  </div>
</div>
