@charset "utf-8";
@import "../../styles/common";

.blog-top-placeholder{
  color: #434343;
  background-color: #e9edf0;
  font-size: 20px;
  line-height: 36px;
  padding: 45px 0;
  p{
    padding: 0 45px;
  }
}
.cards-dark-bg {
  background: #f1f1f1;
  padding: 40px 0;
}
.blog-cards{
  .blog-cover{
    width: 100%;
    height: 220px;
    display: inline-block;
    background-size: cover;
  }
  .card-title{
    height: 48px;
    overflow: hidden;
    a{
      color: $ef-color-black;
    }
    a:hover{
      text-decoration: none;
      color: $ef-color-blue;
    }
  }
  .card-text{
    height: 72px;
    overflow: hidden;
    color: #434343;
  }
}

.page-link{
  color: $ef-color-black;
}
.page-link:hover{
  color: $ef-color-blue;
}
.page-item.active .page-link {
  color: #fff;
  background-color: $ef-color-blue;
  border-color: #007bff;
}
